# Basic setup
text
network --device eth0 --bootproto static --ip 172.25.250.10 --netmask 255.255.255.0 --hostname servera --gateway 172.25.250.254  --nameserver 172.25.250.220

# Basic partitioning
clearpart --all --initlabel --disklabel=gpt
reqpart --add-boot
part / --grow --fstype xfs

ostreecontainer --url quay.io/<YOURID>/<IMAGE>:latest

firewall --disabled
services --enabled=sshd

rootpw --iscrypted locked
sshkey --username root "<KEY>"
reboot
